In [2]:
import pandas as pd

In [41]:
df = pd.read_csv('Luke_hair_loss_documentation.csv')
df.columns = [x.strip() for x in df.columns.values]
df['date'] = pd.to_datetime(df['date'], format="%d/%m/%Y")
df['swimming'] = df['swimming'].map({'Yes':True,'No':False})
df['hair_loss'] = df['hair_loss'].astype('category')
df['pressure_level'] = df['pressure_level'].astype('category')
df['school_assesssment'] = df['school_assesssment'].astype('category')
df['stress_level'] = df['stress_level'].astype('category')
df['shampoo_brand'] = df['shampoo_brand'].astype('category')
df['dandruff'] = df['dandruff'].astype('category')

df.describe(include='all', datetime_is_numeric=True)

,date,hair_loss,stay_up_late,pressure_level,coffee_consumed,brain_working_duration,school_assesssment,stress_level,shampoo_brand,swimming,hair_washing,hair_grease,dandruff,libido
count,400,400,400.000000,400,400.000000,400.000000,400,400,400,400,400,396.000000,400,400.000000
unique,NaN,4,NaN,4,NaN,NaN,5,4,2,2,2,NaN,3,NaN
top,NaN,Few,NaN,Low,NaN,NaN,None,Low,Hair & Shoulder,False,N,NaN,None,NaN
freq,NaN,169,NaN,275,NaN,NaN,305,261,273,307,209,NaN,289,NaN
mean,2021-07-19 12:00:00,NaN,1.910000,NaN,1.162500,3.970000,NaN,NaN,NaN,NaN,NaN,2.565657,NaN,2.787500
min,2021-01-01 00:00:00,NaN,0.000000,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,0.000000
25%,2021-04-10 18:00:00,NaN,1.000000,NaN,0.000000,1.000000,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,1.000000
50%,2021-07-19 12:00:00,NaN,2.000000,NaN,0.000000,2.000000,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,3.000000
75%,2021-10-27 06:00:00,NaN,3.000000,NaN,1.000000,7.000000,NaN,NaN,NaN,NaN,NaN,4.000000,NaN,5.000000
max,2022-02-04 00:00:00,NaN,8.000000,NaN,10.000000,18.000000,NaN,NaN,NaN,NaN,NaN,5.000000,NaN,5.000000
std,NaN,NaN,1.611954,NaN,1.978859,4.215272,NaN,NaN,NaN,NaN,NaN,1.276162,NaN,1.822264

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date                    400 non-null    datetime64[ns]
 1   hair_loss               400 non-null    category
 2   stay_up_late            400 non-null    int64
 3   pressure_level          400 non-null    category
 4   coffee_consumed         400 non-null    int64
 5   brain_working_duration  400 non-null    int64
 6   school_assesssment      400 non-null    category
 7   stress_level            400 non-null    category
 8   shampoo_brand           400 non-null    category
 9   swimming                400 non-null    bool
 10  hair_washing            400 non-null    object
 11  hair_grease             396 non-null    float64
 12  dandruff                400 non-null    category
 13  libido                  400 non-null    int64
dtypes: bool(1), category(6), datetime64[ns](1), float64(1), int64(4), object(1)
memory usage: 25.8+ KB

In [44]:
df.sample(10)

,date,hair_loss,stay_up_late,pressure_level,coffee_consumed,brain_working_duration,school_assesssment,stress_level,shampoo_brand,swimming,hair_washing,hair_grease,dandruff,libido
49,2021-02-19,Few,1,Low,0,1,None,Low,Pantene,False,N,1.0,None,1
45,2021-02-15,Medium,3,Low,1,1,None,Low,Pantene,False,N,3.0,None,1
122,2021-05-03,Many,8,Very High,10,18,Final exam,Very High,Hair & Shoulder,False,N,5.0,Many,0
111,2021-04-22,A lot,0,Medium,0,0,None,High,Hair & Shoulder,False,Y,4.0,Few,3
13,2021-01-14,Medium,2,Low,1,1,None,Low,Pantene,True,Y,2.0,None,5
125,2021-05-06,Medium,3,Low,0,3,None,Medium,Hair & Shoulder,False,Y,3.0,None,5
228,2021-08-17,Many,8,Very High,9,18,Final exam,Very High,Hair & Shoulder,False,Y,5.0,Many,0
84,2021-03-26,Few,3,Medium,3,10,Individual ass,Medium,Hair & Shoulder,False,N,4.0,Few,1
290,2021-10-18,Few,1,Medium,0,0,None,Low,Pantene,True,Y,2.0,None,4
225,2021-08-14,Medium,1,High,2,10,Final exam revision,High,Hair & Shoulder,False,N,4.0,Few,0